
.new-tweet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.new-tweet label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500px;
  display: flex;
  margin-right: 30em;
 
}

.new-tweet textarea {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  border-bottom-width: 5px;
  border-bottom-color:#362107;
  margin-bottom: 0.5em;
  border-top: #f4f1ec;
  border-right: #f4f1ec;
  border-left: #f4f1ec;
  
}

/* .new-tweet hr {
  margin: 20px -50px 20px;
 
} */

.new-tweet button{
font-family: 'Bungee', sans-serif;
color: white;
font-size: smaller;
margin-right: 43em;
background-color: #4056A1;
border-color: #4056A1;
}

.new-tweet output {
  font-family: 'Bungee', sans-serif;
}