main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweet-container {
  width: 90%;
  height: 10em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border-style: solid;
  transition: box-shadow .3s;
  
}



.tweet-container:hover {
  box-shadow: 8px 11px 15px rgba(33,33,33,.2); 
}


.tweet {
  margin: 2em;
}

.tweet-container img {
  display: flex;
  margin-left: 10px;
  height: 54px;
 
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;

}
.tweet-container .username {
  margin-left: auto;
  margin-right: 10px;
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: bolder;
  
}
.tweet-container .name {
  margin-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

.tweet-container .submitted-tweet {
  font-family: 'Quicksand', sans-serif;
  color: black;
  overflow-wrap: break-word;
  padding: 10px;
}

.tweet-container hr {
  width: 95%;
 border-bottom: 2px solid;
 margin-top: 1.5em;
}

.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
}

.tweet-container .time-sent {
  font-size: small;
  color: #000;
}

.tweet-container .icons {
  color: #4056A1;
  margin-right: 10px;
  font-size: small;
}

.tweet-container i.fa-flag:hover {
  color:rgba(161, 209, 117, 0.932);
}

.tweet-container i.fa-retweet:hover {
  color:rgba(161, 209, 117, 0.932);
}

.tweet-container i.fa-heart:hover {
  color:rgba(161, 209, 117, 0.932);
}

#error-message {
 
  margin:10px ; 
  color: #D8000C;
    background-color: #FFD2D2;
}